<h1>My Applications</h1>

<div>
  <% @apps.each do |app| %>
    <a href="/apps/<%= app.id %>">
      <div>
        <h4><%= app.title %></h4>
        <p><%= app.description %></p>
      </div>
    </a>
  <% end %>

  <% if @apps.empty? %>
    <p>You have no applications, you can create one here:</p>
  <% end %>
  <button><%= link_to "Add Application", new_app_path %></button>
</div>
