<div class="max-w-lg">
  <h1>My Applications</h1>

  <div class="apps-container">
    <% @apps.each do |app| %>
      <%= render "app-container", app: app %>
    <% end %>

    <% if @apps.empty? %>
      <p>You have no applications, you can create one here:</p>
    <% end %>

    <button class="apps__add-new-button">
      <%= link_to "Add Application", new_app_path %>
    </button>

  </div>
</div>
